#homeAdvantage{
  padding: 100px 16px;
  background: white;
  position: relative;
  z-index: 10;
  @media screen and (max-width: 576px) {
    padding: 50px 16px;
  }
  .head{
    text-align: center;
    margin-bottom: 70px;
    @media screen and (max-width: 576px){
      margin-bottom: 30px;
    }
    h3{
      color: #141414;
      text-align: center;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 138.462% */
    }
  }
  button{
    border-radius: 17px;
    border: 1px solid #458DC8;
    background: #2A71F8;
    display: flex;
    height: 53px;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
    margin: 0 auto;
    transition: all .3s ease-in-out;
    @media screen and (max-width: 576px) {
      width: 100%;
      font-size: 16px;
    }
    &:hover{
      border: 1px solid #2A71F8;
      background: white;
      color: #2A71F8;
    }
  }
  .cards{
    margin-bottom: 90px;
    @media screen and (max-width: 576px) {
      margin-bottom: 30px;
    }
  }
  .row{
    @media screen and (max-width: 576px) {
      &:nth-child(2) {
        flex-direction: column-reverse; // İkinci row üçün tərsinə çevir
      }
      .col-6{
        padding: 8px 0;
      }
    }
  }
}