#advantageCardDark{
  padding: 46px 32px;
  border-radius: 13px;
  background: #35384C;
  display: flex;
  gap: 35px;
  @media screen and (max-width: 576px){
    align-items: center;
    padding: 28px;
    gap: 0;
  }
  .content{
    .text{
      display: flex;
      gap: 12px;
      div{
        display: flex;
        width: 28px;
        height: 28px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: #C5E081;
        @media screen and (max-width: 576px){
          margin-top: 7px;
          width: 24px;
          height: 24px;
        }
      }
      p{
        width: 80%;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        @media screen and (max-width: 576px){
            font-size:14px;
        }
      }
      &:nth-child(1){
        margin-bottom: 16px;
      }
    }
  }

  .image{
    width: 80px;
    height: 80px;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;

    }
  }
}